<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" id="theme">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Pizza</title>
</head>

<body>


    <!-- ОСНОВНАЯ ЧАСТЬ -->

    <main>

        <!-- КАТЕГОРИИ -->

        <section class="kategory">
            <h2 style="margin-top: -30px;" class="h2 kategory__title">Пицца</h2>
            <article class="kategory__section wrapper">
                <h2 class="visually-hidden">Контент главной страницы</h2>
                <div class="kategory__block">
                    <div class="kategory__dish dish">
                        <img class="dish__image" src="img/Categories/3.png" alt="блюдо">
                        <h3 class="dish__title h3">Пицца с ветчиной и грибами</h3>
                        <p class="dish__text main_text">
                            Традиционное итальянское блюдо в виде круглой дрожжевой лепёшки.
                        </p>
                        <a href="index.html" class="dish__button sqareButton  big-btn">
                            <p class="subtitle">Вернуться на главную</p>
                        </a>
                        <a href="index.html" class="dish__button  mini-btn">
                            <p class="subtitle2">Вернуться на главную</p>
                        </a>
                    </div>
                    <div class="kategory__dish dish">
                        <img class="dish__image" src="img/Categories/3.png" alt="блюдо">
                        <h3 class="dish__title h3">Пицца с ветчиной и грибами</h3>
                        <p class="dish__text main_text">
                            Традиционное итальянское блюдо в виде круглой дрожжевой лепёшки.
                        </p>
                        <a href="index.html" class="dish__button sqareButton  big-btn">
                            <p class="subtitle">Вернуться на главную</p>
                        </a>
                        <a href="index.html" class="dish__button  mini-btn">
                            <p class="subtitle2">Вернуться на главную</p>
                        </a>
                    </div>
                    <div class="kategory__dish dish">
                        <img class="dish__image" src="img/Categories/3.png" alt="блюдо">
                        <h3 class="dish__title h3">Пицца с ветчиной и грибами</h3>
                        <p class="dish__text main_text">
                            Традиционное итальянское блюдо в виде круглой дрожжевой лепёшки.
                        </p>
                        <a href="index.html" class="dish__button sqareButton  big-btn">
                            <p class="subtitle">Вернуться на главную</p>
                        </a>
                        <a href="index.html" class="dish__button  mini-btn">
                            <p class="subtitle2">Вернуться на главную</p>
                        </a>
                    </div>
                </div>
            </article>

            <article class="list__section wrapper" id="list">
                <h2 class="visually-hidden h2">Список рецептов из категории "Пицца"</h2>
                <h2 style="margin-bottom: 35px; margin-top: 20px;" class="h2 kategory__title">Список рецептов из
                    категории "Пицца"</h2>
                <div id="app">
                    <div class="stats">
                        <h3 class="stats__title">{{"Любимых рецептов: "+ tasks.length}}</h3>
                    </div>
                    <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data">
                    </task>
                    <div class="add_task">
                        <div class="add_task__input ">
                            <input style="min-height: 30px;" placeholder="Введите название рецепта" type="text"
                                v-model="new_task.title">
                            <textarea placeholder="Введите описание" type="text" v-model="new_task.desc"></textarea>
                            <button class="add_task__btn2 subtitle" @click="add_task">Добавить рецепт</button>
                        </div>
                        <button class="add_task__btn subtitle" @click="add_task">Добавить рецепт</button>
                    </div>
                </div>
                </div>
            </article>

        </section>

        <footer class="footer">
            <div class="footer__content wrapper">
                <p style="padding-bottom: 10px;" class="menu_items footer__item">Черникова софья кирилловна, группа 201-321</p>
                <p class="menu_items footer__item">Дата выполнения РК: 04.06.2021</p>
            </div>
        </footer>


</body>
<script src="script.js"></script>

</html>