@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.h1 {
  font-family: 'Playfair Display SC';
  font-weight: 1500;
  font-size: 40px;
  line-height: 53px;
}

.h2 {
  font-family: 'Playfair Display SC';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.h3 {
  font-family: 'Playfair Display SC';
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
}

.menu_items {
  font-family: 'Playfair Display SC';
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.title {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
}

.subtitle {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.subtitle2 {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.main_text {
  font-family: Georgia;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
}

body {
  background-color: #003049;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.header {
  background-image: url("img/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
}

@media (max-width: 600px) {
  .header {
    background-image: none;
    background-color: #FCBF49;
  }
}

.header__section {
  width: 90%;
  position: relative;
}

@media (max-width: 550px) {
  .header__section {
    width: 100%;
  }
}

.header__flag {
  width: 100%;
  position: absolute;
  top: 0;
  fill: #FCBF49;
}

@media (max-width: 550px) {
  .header__flag {
    display: none;
  }
}

.header__flag2 {
  width: 100%;
  position: absolute;
  top: 0;
  fill: #FCBF49;
}

@media (min-width: 550px) {
  .header__flag2 {
    display: none;
  }
}

.header__menu {
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  z-index: 1;
  margin: auto;
}

.header__content {
  margin: auto;
  color: #000000;
  max-width: 430px;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .header__content {
    margin-top: 40px;
  }
}

.header__title {
  color: #000000;
  margin-bottom: 40px;
}

.header__button {
  color: #FCBF49;
  background-color: #000000;
  margin: auto;
  margin-bottom: 15px;
  border: none;
}

.header__button:hover {
  background-color: #003049;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sqareButton {
  width: 300px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  z-index: 1;
  padding-top: 10px;
}

@media (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

.navbar__item {
  color: #C7AA81;
  text-decoration: none;
  padding-bottom: 5px;
}

.navbar__item:hover {
  border-bottom: 0.5px solid #C7AA81;
}

.navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 301px;
  z-index: 1;
  padding-top: 10px;
  margin: auto;
  color: #000000;
}

@media (min-width: 1200px) {
  .navbar2 {
    display: none;
  }
}

.navbar2__item {
  color: #000000;
  text-decoration: none;
  padding-bottom: 5px;
  z-index: 1;
}

.navbar2__item:hover {
  border-bottom: 0.5px solid #000000;
}

.kategory {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kategory__section {
  margin-top: 40px;
  width: 90%;
}

.kategory__title {
  color: #C7AA81;
  text-align: center;
}

.kategory__block {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 870px) {
  .kategory__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.dish {
  width: 370px;
  min-height: 429px;
  border: 3px solid #C7AA81;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .dish {
    width: 260px;
    min-height: 350px;
  }
}

.dish__image {
  max-width: 300px;
  max-height: 225px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .dish__image {
    width: 100%;
  }
}

.dish__title {
  color: #C7AA81;
  margin-bottom: 20px;
  text-align: center;
}

.dish__button {
  background: #F77F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #003049;
}

.dish__button:hover {
  background: #C7AA81;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dish__text {
  color: #C7AA81;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 600px) {
  .big-btn {
    display: none;
  }
}

.mini-btn {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

@media (min-width: 600px) {
  .mini-btn {
    display: none;
  }
}

:root {
  --main: $sea;
  --white: $milky;
}

#app {
  font-family: 'Gilroy', sans-serif;
  color: #C7AA81;
  max-width: 1150px;
}

.stats {
  margin: 0px;
}

.stats__title {
  padding: 10px;
  background-color: #C7AA81;
  color: #000000;
  font-weight: 500;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  max-width: 100%;
  border: 2px solid #C7AA81;
}

.task__title {
  font-size: 18px;
}

.task__desc {
  font-weight: 500;
  font-size: 16px;
}

.task__done {
  height: 30px;
  border: none;
  background-color: unset;
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.089);
}

.add_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.add_task__input {
  width: 80%;
}

@media (max-width: 530px) {
  .add_task__input {
    width: 98%;
  }
}

.add_task__input input, textarea {
  width: 100%;
  max-width: 100%;
  padding: 5px 0 5px 5px;
  font-family: 'Gilroy',sans-serif;
  border: 2px solid #C7AA81;
  color: #C7AA81;
  background-color: transparent;
}

.add_task__input input {
  margin-bottom: 5px;
}

.add_task__btn {
  width: 20%;
  border: none;
  margin-left: 20px;
  background-color: #C7AA81;
  color: #000000;
}

@media (max-width: 530px) {
  .add_task__btn {
    display: none;
  }
}

.add_task__btn:hover {
  cursor: pointer;
  background-color: #2f485811;
  background-color: #FCBF49;
}

.add_task__btn2 {
  width: 103%;
  border: none;
  background-color: #C7AA81;
  margin-top: 2px;
  color: #000000;
  height: 55px;
}

@media (min-width: 530px) {
  .add_task__btn2 {
    display: none;
  }
}

.add_task__btn:hover {
  cursor: pointer;
  background-color: #2f485811;
  background-color: #FCBF49;
}

.list__section {
  width: 90%;
}

.footer {
  min-height: 125px;
  background-color: #FCBF49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rot {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
  width: 100px;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */