@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.h1 {
  font-family: 'Playfair Display SC';
  font-weight: 1500;
  font-size: 40px;
  line-height: 53px;
}

.h2 {
  font-family: 'Playfair Display SC';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.h3 {
  font-family: 'Playfair Display SC';
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
}

.menu_items {
  font-family: 'Playfair Display SC';
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.title {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
}

.subtitle {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.main_text {
  font-family: Georgia;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

body {
  background-color: #003049;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.header {
  background-image: url("img/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
}

.header__section {
  width: 90%;
  position: relative;
}

@media (max-width: 550px) {
  .header__section {
    width: 100%;
  }
}

.header__flag {
  width: 100%;
  position: absolute;
  top: 0;
  fill: #FCBF49;
}

@media (max-width: 550px) {
  .header__flag {
    display: none;
  }
}

.header__flag2 {
  width: 100%;
  position: absolute;
  top: 0;
  fill: #FCBF49;
}

@media (min-width: 550px) {
  .header__flag2 {
    display: none;
  }
}

.header__menu {
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  z-index: 1;
  margin: auto;
}

.header__content {
  margin: auto;
  color: #000000;
  max-width: 430px;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1050px) {
  .header__content {
    margin-top: 40px;
  }
}

.header__title {
  color: #000000;
  margin-bottom: 40px;
}

.header__button {
  color: #FCBF49;
  background-color: #000000;
  margin: auto;
  margin-bottom: 15px;
  border: none;
}

.header__button:hover {
  background-color: #003049;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sqareButton {
  width: 300px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  z-index: 1;
  padding-top: 10px;
}

@media (max-width: 1050px) {
  .navbar {
    display: none;
  }
}

.navbar__item {
  color: #C7AA81;
  text-decoration: none;
  padding-bottom: 5px;
}

.navbar__item:hover {
  border-bottom: 0.5px solid #C7AA81;
}

.navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 301px;
  z-index: 1;
  padding-top: 10px;
  margin: auto;
  color: #000000;
}

@media (min-width: 1050px) {
  .navbar2 {
    display: none;
  }
}

.navbar2__item {
  color: #000000;
  text-decoration: none;
  padding-bottom: 5px;
  z-index: 1;
}

.navbar2__item:hover {
  border-bottom: 0.5px solid #000000;
}

.kategory {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kategory__section {
  margin-top: 40px;
  width: 90%;
}

.kategory__title {
  color: #C7AA81;
  text-align: center;
}

.kategory__block {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 870px) {
  .kategory__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.dish {
  width: 370px;
  min-height: 429px;
  border: 3px solid #C7AA81;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.dish__image {
  max-width: 300px;
  max-height: 225px;
  margin-bottom: 30px;
}

.dish__title {
  color: #C7AA81;
  margin-bottom: 20px;
  text-align: center;
}

.dish__button {
  background: #F77F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #003049;
}

.dish__button:hover {
  background: #C7AA81;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */